body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	overflow-x: hidden !important;
	overflow-y: visible !important;
	background: linear-gradient(180deg, #4caf50 0%, #ffc107 90%);
}

main,
#about,
#gallery,
#blog {
	flex: 1 0 auto;
	min-height: 100vh;
}

@media only screen and (max-width: 992px) {
	main {
		min-height: 100vh;
	}
}

address {
	margin-bottom: 20px;
	font-style: normal;
}

#no-script-error {
	font-family: monospace;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 101;
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
	padding: 5px 0 5px 0;
}

.carousel-item img.materialboxed {
	border-radius: 4px;
	z-index: 200
}


/**
 **HELPER
 **/

header .container,
footer .container {
	width: 80%
}

.bold {
	font-weight: bold !important;
}

.justify {
	text-align: justify
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.spacer {
	height: 2rem;
	width: 100%;
}

.half-spacer {
	height: 1rem;
	width: 100%;
}

.parallax-container {
	height: auto;
}

@media only screen and (max-width: 992px) {
	.valign-wrapper {
		display: inherit;
	}
}


/**
 **NAVIGATION BAR
 **/

nav ul a {
	color: #ffc107 !important;
	font-size: 1.1rem;
	padding: 0px 20px;
}

nav .brand-logo {
	color: black;
	display: inline-table;
}

nav .brand-logo-small {
	font-size: 1.5rem;
}

nav .brand-logo-small #header-logo {
	position: relative;
	top: 6px;
	height: 44px;
}

nav a.brand-logo h1 {
	line-height: 64px;
	margin: 0px;
}

nav .nav-button {
	margin-right: 20px;
	margin-left: 20px;
}


/**
 **HERO
 **/

#hero-title {
	font-weight: bold;
	font-size: 72px;
}


/**
 **FORMS
 **/


/* label color */

.input-field label {
	color: #000;
}


/* label focus color */

.input-field input[type=text]:focus+label {
	color: #000;
}


/* label underline focus color */

.input-field input[type=text]:focus {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}


/* valid color */

.input-field input[type=text].valid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}


/* invalid color */

.input-field input[type=text].invalid {
	border-bottom: 1px solid #000;
	box-shadow: 0 1px 0 0 #000;
}


/* icon prefix focus color */

.input-field .prefix.active {
	color: #000;
}


/**
 **FOOTER
 **/

.vision-footer a {
	white-space: nowrap;
}

.vision-footer,
.links-footer {
	margin-top: 10px;
	margin-bottom: 30px;
}

.foot address strong {
	display: block;
	text-decoration: none;
	margin-bottom: 10px;
}

.logo-footer {
	margin-bottom: 20px;
}

.address-footer {
	margin-bottom: 20px;
}

.address-footer a {
	white-space: nowrap
}

.foot .container {
	padding-right: 30px;
	padding-left: 30px;
}

.fa-facebook,
.fa-google-plus,
.fa-twitter,
.fa-youtube {
	color: white;
	transition: color 250ms ease-in-out;
}

.fa-facebook:hover {
	color: #3b5998 !important;
}

.fa-google-plus:hover {
	color: #dd4b39 !important;
}

.fa-twitter:hover {
	color: #55acee !important;
}

.fa-youtube:hover {
	color: #cd201f !important;
}